/* .bg{
    background-color:rgb(200, 193, 193);
} */
.container {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
}
.Filter {
  /* border: 1px solid grey; */
  padding: 1rem;
  width: 12.5%;
  position: sticky;
}
.bg {
  width: 80%;
}
.FeatProducts {
  display: flex;
  flex-wrap: wrap;
  padding: 2.5rem;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.FeatHead {
  text-align: center;
  margin-top: 2rem;
}
.Product {
  /* border: 1px solid black; */
  padding: 0.65rem;
  /* border-radius: 1.25rem; */
  transition: all 0.3s linear;
}
.Product:hover {
  box-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
.Image {
  height: 18.5rem;
  width: 18.5rem;
  /* border-radius: 1.25rem; */
}
.Company,
.Item {
  margin: 0.25rem;
}
.profiledetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.viewit {
  /* border: 1px solid grey; */
  background: rgb(204, 193, 187);
  /* border-radius: 2rem; */
  padding: 0.35rem;
  font-size: 0.85rem;
  font-weight: 600;
  cursor: pointer;
  margin-left: 7.5rem;
}
.PriceCart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.25rem;
  font-weight: 700;
  color: rgb(29, 78, 89);
}
.cart {
  background-color: rgb(204, 193, 187);
  font-size: 1.25rem;
  border-radius: 50%;
  padding: 0.45rem;
  transition: 0.2s ease;
  cursor: pointer;
}
.cart:hover {
  transform: scale(1.1);
}

.price {
  font-size: 1.25rem;
}
/* .productdetails {
  display: flex;
  flex-direction: column;
} */
.details {
  display: flex;
  padding-top: 1rem;
  gap: 0.5rem;
}
@media screen and (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }

  .bg {
    width: 100%;
  }
  .details {
    display: flex;
  }
  .Filter{
    display: none;
  }
}
